<!DOCTYPE html>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<html>
  <head>
    <title>Pinterest Content Safety -- Pinner Complaint page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 50px;
      }
    </style>
  </head>
  
  <body>
    <center><h1>Pinterest Content Safety -- Pinner Complaint page</h1></center>
    <hr>
    <p>
    <center><img src="{{ my_dict.url }}" width=400></center>
    <p>
        <form action="cs_submit" method="GET">
            <center>Who are you?</center>
            <center><table>
                <tr><td>
                    <input type="radio" name="pinner" value="{{ my_dict.email1 }}" checked> {{ my_dict.email1 }}
                </tr></td><tr><td>
                    <input type="radio" name="pinner" value="{{ my_dict.email2 }}"> {{ my_dict.email2 }}
                </tr></td><tr><td>
                    <input type="radio" name="pinner" value="{{ my_dict.email3 }}"> {{ my_dict.email3 }}
                </tr></td><tr><td>
                    <input type="radio" name="pinner" value="{{ my_dict.email4 }}"> {{ my_dict.email4 }}
                </tr></td>
            </table></center>
            <p>
            <center><table>
                <tr><td>
                    <input type="radio" name="comp" value="Bad" checked>Bad<br>
                </td><td>
                    <input type="radio" name="comp" value="Good">Good<br>
                </tr></td>
            </table></center>
            
            <center>content_id<input type="text" name="content_id" value="{{ my_dict.content_id }}" readonly size=4>
            display_status<input type="text" name="display_status" value="{{ my_dict.display_status }}" readonly size=10>
            </center>
            
            <center><input type="submit" value="Submit"></center>
        </form>
    
    <hr>
    <a href="http://www.boliek.net"><img src="https://s3-us-west-2.amazonaws.com/boliek-public/icons/customLogo.gif" width=200></a>
    <hr>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>