<!DOCTYPE html>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<html>
  <head>
    <title> Content Safety -- Pinner page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 50px;
      }
    </style>
  </head>
  
  <body>
    <center><h1> Content Safety -- Pinner page</h1></center>
    <hr>
    <center>Click on an image to file a complaint. (Do it even though they are all adorable.)</center>
    <p>
    <center><table>
        <tr><td>
            <a href="content_safety?content_id={{my_dict.cid1}}">
            <img src="{{my_dict.url1}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid2}}">
            <img src="{{my_dict.url2}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid3}}">
            <img src="{{my_dict.url3}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid4}}">
            <img src="{{my_dict.url4}}" width=150>
            </a>
        
        </tr></td><tr><td>
            <a href="content_safety?content_id={{my_dict.cid5}}">
            <img src="{{my_dict.url5}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid6}}">
            <img src="{{my_dict.url6}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid7}}">
            <img src="{{my_dict.url7}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid8}}">
            <img src="{{my_dict.url8}}" width=150>
            </a>
            
        </tr></td><tr><td>
            <a href="content_safety?content_id={{my_dict.cid9}}">
            <img src="{{my_dict.url9}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid10}}">
            <img src="{{my_dict.url10}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid11}}">
            <img src="{{my_dict.url11}}" width=150>
            </a>
        </td><td>
            <a href="content_safety?content_id={{my_dict.cid12}}">
            <img src="{{my_dict.url12}}" width=150>
            </a>
        </tr></td>
    </table></center>
    
    <hr>
    <i>&nbsp;&nbsp;&nbsp;&nbsp; Suggested flow for first time users<br>
    &nbsp;&nbsp;&nbsp;&nbsp; 1) Pinners -> select image -> Submit -> Return to splash page<br>
    &nbsp;&nbsp;&nbsp;&nbsp; 2) Reviewers -> Next complaint -> Submit -> Return to splash page<br>
    &nbsp;&nbsp;&nbsp;&nbsp; 3) Pinners -> note that the image is gone -> browser back button<br>
    &nbsp;&nbsp;&nbsp;&nbsp; 4) Managers -> Reset Content -> Pinner page -> note that the image is back</i>
    <hr>
    <a href="http://www.boliek.net"><img src="https://s3-us-west-2.amazonaws.com/boliek-public/icons/customLogo.gif" width=200></a>
    <hr>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>