<!DOCTYPE html>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<html>
  <head>
    <title> Content Safety -- Review Complete page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 50px;
      }
    </style>
  </head>
  
  <body>
      <center><h1> Content Safety -- Review Complete page</h1></center>
      <hr>
      <div class="container">
        Thanks for the review. Please press the next complaint button or return to the splash page.
        <p>
        <table><tr><td>
            <form action="re_pop" method="GET">
                <input type="submit" value="Next complaint">
            </form>
        </td><td>
            <form action="home" method="GET">
                <input type="submit" value="Return to splash page">
            </form>
        </td></tr></table>
      </div>
    
    <hr>
    <i>&nbsp;&nbsp;&nbsp;&nbsp; Suggested flow for first time users<br>
    &nbsp;&nbsp;&nbsp;&nbsp; 1) Pinners -> select image -> Submit -> Return to splash page<br>
    &nbsp;&nbsp;&nbsp;&nbsp; 2) Reviewers -> Next complaint -> Submit -> Return to splash page<br>
    &nbsp;&nbsp;&nbsp;&nbsp; 3) Pinners -> note that the image is gone -> browser back button<br>
    &nbsp;&nbsp;&nbsp;&nbsp; 4) Managers -> Reset Content -> Pinner page -> note that the image is back</i>
    <hr>
    <a href="http://www.boliek.net"><img src="https://s3-us-west-2.amazonaws.com/boliek-public/icons/customLogo.gif" width=200></a>
    <hr>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>